DENSO_ORM_HHT_APP/DENSO_ORM_HHT_APP.Android/Web References/WebReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.43.236/DENSO_ORM/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.43.236/DENSO_ORM/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.43.236/DENSO_ORM/Service1.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IService1_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_APKDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:APKDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_APKDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:APKDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMachineGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineGroup" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMachineGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Kanban_Progress_InputMessage">
    <wsdl:part name="parameters" element="tns:Kanban_Progress" />
  </wsdl:message>
  <wsdl:message name="IService1_Kanban_Progress_OutputMessage">
    <wsdl:part name="parameters" element="tns:Kanban_ProgressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginValidate_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginValidate" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginValidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginValidateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Connect" message="tns:IService1_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConnectResponse" message="tns:IService1_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APKDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/APKDetails" message="tns:IService1_APKDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/APKDetailsResponse" message="tns:IService1_APKDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMachineGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMachineGroup" message="tns:IService1_GetMachineGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMachineGroupResponse" message="tns:IService1_GetMachineGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kanban_Progress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Kanban_Progress" message="tns:IService1_Kanban_Progress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Kanban_ProgressResponse" message="tns:IService1_Kanban_Progress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginValidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginValidate" message="tns:IService1_LoginValidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginValidateResponse" message="tns:IService1_LoginValidate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap:operation soapAction="http://tempuri.org/IService1/Connect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APKDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/APKDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineGroup">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMachineGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kanban_Progress">
      <soap:operation soapAction="http://tempuri.org/IService1/Kanban_Progress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginValidate">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginValidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://192.168.43.236/DENSO_ORM/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>